---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "10/2024 - Actualmente...",
    title: "Desarrollador",
    company: "EPEM",
    description:
      "Utilicé PHP con Laravel y JavaScript para realizar mantenimientos y mejoras en el sistema, optimizando su rendimiento y funcionalidad. Identifiqué y resolví problemas técnicos, asegurando la continuidad y la eficiencia operativa del sistema. Trabajé en estrecha colaboración con otros desarrolladores para asegurar la integración y el desarrollo de soluciones técnicas."
    },
    {
    date: "04/2022 - 06/2022",
    title: "Desarrollador en WordPress",
    company: "Soteweb Tecnología y Servicios",
    description:
      "Utilicé Elementor para diseñar y desarrollar interfaces de usuario personalizadas. Implementé estrategias de SEO en los sitios webs desarrollados en WordPress. Colaboré con el equipo en el diseño para crear una interfaz de usuario intuitiva y atractiva."
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
