---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "06/2025 - Actualmente...",
    title: "Desarrollador Backend",
    company: "Billetera Mango",
    description:
      "Apoyo en el desarrollo de aplicaciones backend utilizando Node.js y TypeScript. Colaboro en el mantenimiento de APIs y bases de datos MongoDB. Participo en la optimización de funciones serverless y asisto en tareas de infraestructura cloud para contribuir a la estabilidad del sistema.",
  },
  {
    date: "10/2024 - 06/2025",
    title: "Desarrollador",
    company: "EPEM",
    description:
      "Utilicé PHP con Laravel y JavaScript para realizar mantenimientos y mejoras en el sistema, optimizando su rendimiento y funcionalidad. Identifiqué y resolví problemas técnicos, asegurando la continuidad y la eficiencia operativa del sistema. Trabajé en estrecha colaboración con otros desarrolladores para asegurar la integración y el desarrollo de soluciones técnicas.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
